<section class="centering ">
  <div class="container questions">
      <h2 class="text-center text-yellow-50 px-10 text-3xl sm:text-4xl ">الاسئلة الشائعة</h2>
      <div id="accordion-color" data-accordion="collapse" data-active-classes="text-white">
          <!-- Question 1 -->
          <h2 id="accordion-color-heading-1">
              <button type="button"
                  class="hover:text-white txt-acc bg-yellow-400 flex items-center justify-between w-full p-5 font-medium rtl:text-right text-white border border-b-0 border-teal-200 rounded-t-xl dark:focus:ring-teal-800 dark:border-gray-700 dark:text-yellow-50 hover:bg-yellow-500 dark:hover:bg-gray-800 gap-3"
                  data-accordion-target="#accordion-color-body-1" aria-expanded="false"
                  aria-controls="accordion-color-body-1">
                  <span>ما هي سرعة الإنترنت المناسبة لتشغيل الخدمة ؟</span>
                  <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 5 5 1 1 5" />
                  </svg>
              </button>
          </h2>
          <div id="accordion-color-body-1" class="hidden" aria-labelledby="accordion-color-heading-1">
              <div class="p-5 border bg-[#52514f87] border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                  <p class="mb-2 text-yellow-50 dark:text-yellow-50">لكي تحظي بخدمة مميزة بدون تقطيع يجب ألا تقل سرعة الإنترنت لديك عن 4 ميجا بت بالثانية ، بعض القنوات لدينا تعمل أيضاً مع سرعة إنترنت 2 ميجا بت بالثانية.
                  </p>

              </div>
          </div>
          <!-- Question 2 -->
          <h2 id="accordion-color-heading-2">
              <button type="button"
                  class="hover:text-gray-200 txt-acc bg-yellow-400 flex items-center justify-between w-full p-5 font-medium rtl:text-right border border-b-0 border-gray-200  dark:focus:ring-blue-800 dark:border-gray-700 dark:text-yellow-50 hover:bg-yellow-500 dark:hover:bg-gray-800 gap-3"
                  data-accordion-target="#accordion-color-body-2" aria-expanded="false"
                  aria-controls="accordion-color-body-2">
                  <span>هل يمكنني الحصول علي فترة للتجربة ؟</span>
                  <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 5 5 1 1 5" />
                  </svg>
              </button>
          </h2>
          <div id="accordion-color-body-2" class="hidden" aria-labelledby="accordion-color-heading-2">
            <div class="p-5 border bg-[#52514f87] border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
              <p class="mb-2 text-yellow-50 dark:text-yellow-50">
                نعم يمكنك تجربة الخدمة قبل الإشتراك للتأكد من جودة الخدمة ومدي ملائمتها لأجهزتك وسرعة إتصالك بالإنترنت.

              </p>
              </div>
          </div>
          <!-- Question 3 -->
          <h2 id="accordion-color-heading-3">
              <button type="button"
                  class="hover:text-gray-200 flex bg-yellow-400 txt-acc items-center justify-between w-full p-5 font-medium rtl:text-right text-yellow-50 border border-b-0 border-gray-200  dark:focus:ring-blue-800 dark:border-gray-700 dark:text-yellow-50 hover:bg-yellow-500 dark:hover:bg-gray-800 gap-3"
                  data-accordion-target="#accordion-color-body-3" aria-expanded="false"
                  aria-controls="accordion-color-body-3">
                  <span>كيف سأتمكن من تشغيل الخدمة ؟</span>
                  <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 5 5 1 1 5" />
                  </svg>
              </button>
          </h2>
          <div id="accordion-color-body-3" class="hidden" aria-labelledby="accordion-color-heading-3">
            <div class="p-5 border bg-[#52514f87] border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
              <p class="mb-2 text-yellow-50 dark:text-yellow-50">
                سيقدم طاقم الدعم الفني لدينا كافة الإرشادات والتعليمات الخاصة بتشغيل الملف وسيتابع معك حتي تتمكن من تشغيل الملف بكل سهولة ويسر.

              </p>
              </div>
          </div>
          <!-- Question 4 -->
          <h2 id="accordion-color-heading-4">
              <button type="button"
              class="hover:text-white txt-acc bg-yellow-400 flex items-center justify-between w-full p-5 font-medium rtl:text-right text-white border border-teal-200 rounded-b-xl dark:focus:ring-teal-800 dark:border-gray-700 dark:text-yellow-50 hover:bg-yellow-500 dark:hover:bg-gray-800 gap-3"
              data-accordion-target="#accordion-color-body-4" aria-expanded="false"
                  aria-controls="accordion-color-body-4">
                  <span>هل يمكنني تشغيل الإشتراك في أي دولة بالعالم ؟ </span>
                  <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 5 5 1 1 5" />
                  </svg>
              </button>
          </h2>
          <div id="accordion-color-body-4" class="hidden" aria-labelledby="accordion-color-heading-4">
            <div class="p-5 border rounded-b-xl bg-[#52514f87] border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
              <p class="mb-2 text-yellow-50 dark:text-yellow-50">
                بكل تأكيد يمكنك تشغيل الخدمة بأي دولة في العالم لأن خدمتنا هي خدمة دولية لا تعتمد علي مكان تواجدك أو حتي جهازك ، يمكنك تشغيلها أينما كنت إذا كان متوفر لديك إنترنت.
              </p>
              </div>
          </div>
      </div>
  </div>
</section>