<section class="centering pb-10">
    <div class="container questions">
        <h2 class="text-center text-yellow-50 pb-10 text-3xl sm:text-4xl font-bold">الاسئلة الشائعة</h2>
        <div id="accordion-color" data-accordion="collapse" data-active-classes="text-white">
            <!-- Question 1 -->
            <h2 id="accordion-color-heading-1">
                <button type="button"
                    class="hover:text-white sm:text-lg  txt-acc bg-yellow-400 flex items-center justify-between w-full p-5 font-semibold rtl:text-right text-white border border-b-0 border-teal-200 rounded-t-xl dark:focus:ring-teal-800 dark:border-gray-700 dark:text-yellow-50 hover:bg-yellow-500 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-color-body-1" aria-expanded="false"
                    aria-controls="accordion-color-body-1">
                    <span>ما هي سرعة الإنترنت المناسبة لتشغيل الخدمة ؟</span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5 5 1 1 5" />
                    </svg>
                </button>
            </h2>
            <div id="accordion-color-body-1" class="hidden" aria-labelledby="accordion-color-heading-1">
                <div class="p-5 border bg-[#52514f87] border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                    <p class="mb-2 sm:text-lg  text-yellow-50 dark:text-yellow-50">لكي تحظي بخدمة مميزة بدون تقطيع يجب
                        ألا تقل سرعة الإنترنت لديك عن 4 ميجا بت بالثانية ، بعض القنوات لدينا تعمل أيضاً مع سرعة إنترنت 2
                        ميجا بت بالثانية.
                    </p>

                </div>
            </div>
            <!-- Question 2 -->
            <h2 id="accordion-color-heading-2">
                <button type="button"
                    class="hover:text-gray-200 txt-acc sm:text-lg  bg-yellow-400 flex items-center justify-between w-full p-5 font-semibold rtl:text-right border border-b-0 border-gray-200  dark:focus:ring-blue-800 dark:border-gray-700 dark:text-yellow-50 hover:bg-yellow-500 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-color-body-2" aria-expanded="false"
                    aria-controls="accordion-color-body-2">
                    <span>هل يمكنني الحصول علي فترة للتجربة ؟</span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5 5 1 1 5" />
                    </svg>
                </button>
            </h2>
            <div id="accordion-color-body-2" class="hidden" aria-labelledby="accordion-color-heading-2">
                <div class="p-5 border bg-[#52514f87] border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                    <p class="mb-2 sm:text-lg  text-yellow-50 dark:text-yellow-50">
                        نعم يمكنك تجربة الخدمة قبل الإشتراك للتأكد من جودة الخدمة ومدي ملائمتها لأجهزتك وسرعة إتصالك
                        بالإنترنت.

                    </p>
                </div>
            </div>

            <!-- Question 3 -->
            <h2 id="accordion-color-heading-3">
                <button type="button"
                    class="hover:text-gray-200 sm:text-lg  flex bg-yellow-400 txt-acc items-center justify-between w-full p-5 font-semibold rtl:text-right text-yellow-50 border border-b-0 border-gray-200  dark:focus:ring-blue-800 dark:border-gray-700 dark:text-yellow-50 hover:bg-yellow-500 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-color-body-3" aria-expanded="false"
                    aria-controls="accordion-color-body-3">
                    <span>كيف سأتمكن من تشغيل الخدمة ؟</span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5 5 1 1 5" />
                    </svg>
                </button>
            </h2>
            <div id="accordion-color-body-3" class="hidden" aria-labelledby="accordion-color-heading-3">
                <div class="p-5 border bg-[#52514f87] border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                    <p class="mb-2 sm:text-lg  text-yellow-50 dark:text-yellow-50">
                        سيقدم طاقم الدعم الفني لدينا كافة الإرشادات والتعليمات الخاصة بتشغيل الملف وسيتابع معك حتي تتمكن
                        من تشغيل الملف بكل سهولة ويسر.

                    </p>
                </div>
            </div>

            <!-- Question 5 -->
            <h2 id="accordion-color-heading-4">
                <button type="button"
                    class="hover:text-gray-200 sm:text-lg  flex bg-yellow-400 txt-acc items-center justify-between w-full p-5 font-semibold rtl:text-right text-yellow-50 border border-b-0 border-gray-200  dark:focus:ring-blue-800 dark:border-gray-700 dark:text-yellow-50 hover:bg-yellow-500 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-color-body-5" aria-expanded="false"
                    aria-controls="accordion-color-body-5">
                    <span>هل يمكنني وضع الإشتراك في أكثر من جهاز ؟</span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5 5 1 1 5" />
                    </svg>
                </button>
            </h2>
            <div id="accordion-color-body-5" class="hidden" aria-labelledby="accordion-color-heading-3">
                <div class="p-5 border bg-[#52514f87] border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                    <p class="mb-2 sm:text-lg  text-yellow-50 dark:text-yellow-50">نعم بشرط أن يعمل الاشتراك على جهاز
                        واحد فقط في نفس وقت المشاهدة , في حالة تشغيل والمشاهدة على أكثر من جهاز في نفس الوقت فلن يعمل ان
                        كنت تريد تشغيل الاشتراك على اكثر من جهاز في نفس الوقت ستحتاج الى اشتراك اخرى.



                    </p>
                </div>
            </div>


            <!-- Question 6 -->
            <h2 id="accordion-color-heading-4">
                <button type="button"
                    class="hover:text-gray-200 sm:text-lg  flex bg-yellow-400 txt-acc items-center justify-between w-full p-5 font-semibold rtl:text-right text-yellow-50 border border-b-0 border-gray-200  dark:focus:ring-blue-800 dark:border-gray-700 dark:text-yellow-50 hover:bg-yellow-500 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-color-body-6" aria-expanded="false"
                    aria-controls="accordion-color-body-6">
                    <span>ما هي المدة التي يستغرها إرسال وتشغيل الإشتراك بعد الدفع ؟</span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5 5 1 1 5" />
                    </svg>
                </button>
            </h2>
            <div id="accordion-color-body-6" class="hidden" aria-labelledby="accordion-color-heading-3">
                <div class="p-5 border bg-[#52514f87] border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                    <p class="mb-2 sm:text-lg  text-yellow-50 dark:text-yellow-50">
                        لا يستغرق إرسال وتشغيل الملف سوي عدة دقائق فقط وبحد أقصي ساعة بعد إتمام عملية الدفع لتبدأ بالمشاهدة والإستمتاع بالخدمة.
                    </p>
                </div>
            </div>
            <!-- Question 4 -->
            <h2 id="accordion-color-heading-4">
                <button type="button"
                    class="hover:text-white txt-acc sm:text-lg  bg-yellow-400 flex items-center justify-between w-full p-5 font-semibold rtl:text-right text-white border border-teal-200 rounded-b-xl dark:focus:ring-teal-800 dark:border-gray-700 dark:text-yellow-50 hover:bg-yellow-500 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-color-body-4" aria-expanded="false"
                    aria-controls="accordion-color-body-4">
                    <span>هل يمكنني تشغيل الإشتراك في أي دولة بالعالم ؟ </span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5 5 1 1 5" />
                    </svg>
                </button>
            </h2>
            <div id="accordion-color-body-4" class="hidden" aria-labelledby="accordion-color-heading-4">
                <div
                    class="p-5 border rounded-b-xl sm:text-lg  bg-[#52514f87] border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                    <p class="mb-2 text-yellow-50 dark:text-yellow-50">
                        بكل تأكيد يمكنك تشغيل الخدمة بأي دولة في العالم لأن خدمتنا هي خدمة دولية لا تعتمد علي مكان
                        تواجدك أو حتي جهازك ، يمكنك تشغيلها أينما كنت إذا كان متوفر لديك إنترنت.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="bg-[#101010fc] block z-50 w-full sm:px-14 border-gray-200 dark:bg-gray-900">

    <div class="max-w-screen-xl flex flex-wrap items-center justify-center mx-auto px-4 py-5">
    <a  class="flex items-center justify-center space-x-3 rtl:space-x-reverse">
        <img src="../../../assets/اللوقو.png" class="h-20" alt="aronium Logo" />
    </a>

    </div>
</footer>