<section class="centering py-20">
  <div class="container flex flex-row ">
    <div class="w-1/4 bg-yellow-400 p-10 flex flex-col gap-2">
      <h2 class="font-bold text-3xl sm:text-4xl text-white">لمـــاذا نحـــــن</h2>
      <hr class="w-16  h-1  my-1.5 bg-gray-100 border-0 rounded ">
      <h4 class="font-normal text-md sm:text-md text-white">نقدم باقات IPTV ذات جودة عالية تضمن تجربة مشاهدة ممتعة
        ومرضية لعملائنا</h4>
    </div>
    <div class="w-3/4 bg-yellow-500 p-10">
      <div class="feature flex gap-4 align-middle">
        <div class="1/4 flex align-middle">
          <i class="fa-solid fa-tv " style="color: white; line-height: 0 !important;"></i>
                  </div>
        <div class="3/4 flex flex-col align-middle">
          <h4 class="font-semibold text-white">جودة عالية</h4>
          <h5>نقدم مشاهدة ممتعة بجودة عالية جدا تصل الي 4k</h5>
        </div>
      </div>
    </div>
  </div>
</section>