<section class="centering py-20  ">
  <div class="container flex flex-row h-80">
    <div class="w-1/4 bg-yellow-400 p-10 flex flex-col gap-2 justify-center">
      <h2 class="font-bold text-3xl sm:text-4xl text-white">لمـــاذا نحـــــن</h2>
      <hr class="w-16  h-1  my-1.5 bg-gray-100 border-0 rounded ">
      <h4 class="font-normal text-md sm:text-md text-white">نقدم باقات IPTV ذات جودة عالية تضمن تجربة مشاهدة ممتعة
        ومرضية لعملائنا</h4>
    </div>
    <div class="w-3/4 bg-yellow-500 grid grid-cols-2 p-10 left-side justify-items-center items-center">

      <!--  feature one -->
      <div class="feature flex gap-4  w-64">
        <div class="p-3">
          <i class="fa-solid fa-tv fa-xl" style="color: var(--main-color); line-height: 0 !important;"></i>
        </div>
        <div class="flex flex-col align-top gap-3">
          <h4 class="font-bold text-md sm:text-lg text-white">جودة عالية</h4>
          <h5 class="text-white text-xs sm:text-sm">نقدم مشاهدة ممتعة بجودة عالية جدا تصل الي 4k</h5>
        </div>
      </div>

      <!--  feature two -->
      <div class="feature flex gap-4  w-64">
        <div class="p-3">
          <i class="fa-solid fa-person-circle-question fa-2xl" style="color: var(--main-color); line-height: 0 !important;"></i>
        </div>
        <div class="flex flex-col align-top gap-3">
          <h4 class="font-bold text-md sm:text-lg text-white">خدمات الدعم</h4>
          <h5 class="text-white text-xs sm:text-sm">دعم كامل 24 ساعة و تحديثات مستمرة</h5>
        </div>
      </div>

      <!--  feature three -->
      <div class="feature flex gap-4  w-64">
        <div class="p-3">
          <i class="fa-solid fa-tv fa-xl" style="color: var(--main-color); line-height: 0 !important;"></i>
        </div>
        <div class="flex flex-col align-top gap-3">
          <h4 class="font-bold text-md sm:text-lg text-white">جودة عالية</h4>
          <h5 class="text-white text-xs sm:text-sm">نقدم مشاهدة ممتعة بجودة عالية جدا تصل الي 4k</h5>
        </div>
      </div>

      <!--  feature four -->
      <div class="feature flex gap-4  w-64">
        <div class="p-3">
          <i class="fa-solid fa-tv fa-xl" style="color: var(--main-color); line-height: 0 !important;"></i>
        </div>
        <div class="flex flex-col align-top gap-3">
          <h4 class="font-bold text-md sm:text-lg text-white">جودة عالية</h4>
          <h5 class="text-white text-xs sm:text-sm">نقدم مشاهدة ممتعة بجودة عالية جدا تصل الي 4k</h5>
        </div>
      </div>
    </div>
  </div>
</section>